{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["testing-library", "react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "react/prop-types": 0, // turn to 1 or 2 when ready
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react/no-unknown-property": ["error", { "ignore": ["jsx", "global"] }],
    "react-hooks/exhaustive-deps": 1,
    "testing-library/no-unnecessary-act": 1
  },
  "ignorePatterns": [".next", "node_modules"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
