.UsageGallery h4 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    /* Ajoutez ici les autres propriétés CSS que vous voulez appliquer */
  }