/* MethodPage.module.css */

.p {
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15px;
    font-size: 16px;
    line-height: 1.8;
    color: rgb(82, 82, 82);
  }
  
  
  .h1 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  .h1 {
    font-size: 3rem;
  }
  
  .h2 {
    font-size: 2rem;
  }
  
  .h3 {
    font-size: 1.5rem;
  }
  
  .h4 {
    font-size: 1.5rem;
  }
  
  .h5 {
    font-size: 1.25rem;
  }
  
  .h6 {
    font-size: 1rem;
  }

  .container {
    padding: 2rem 0;
  }

  .button-link {
    text-decoration: none;
  }
  
  .button-link:hover {
    text-decoration: none;
    font-weight: bold;
  }

  .MuiButton-label {
    text-decoration: none;
  }

  .blockquote {
    color: #e95459;
    border-left: 4px solid #e95459;
    padding-left: 1rem;
    margin: 3rem ;
    position: relative;
    font-style: italic;
  }
  