.authorsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .authorpageTitle, .authorpageTitle a {
    font-size: 2.5rem;
    color: #abc5cf; 
    font-weight: 900; 
    text-align: center; 
    margin-top: 0rem;
    font-family: 'Montserrat', sans-serif;
    display: block;
    max-width: 1200px;
    margin-left: auto;
    border-radius: 4px;
    text-decoration: none; /* Supprime le soulignement des liens */
  }

  .authorpageTitle a:hover {
    color: #819da8;
    text-decoration: underline;
  }
  
  .partnerpageTitle {
    font-size: 2.5rem;
    color: #ffffff; 
    font-weight: 900; 
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    display: block;
    background: linear-gradient(45deg, #557786 30%, #3986a7 90%);
    width: 100% ;
    margin-left: auto;
    border-radius: 4px;
  }

  .author {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-top: 15px;
  }
  
  .authorImage {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
  }

  .partnerImage {
    width: 80px;
    height: 80px;
    border-radius: 8%;
    object-fit: scale-down;
    margin-right: 5px;
  }

  .partnerImageLarge {
    width: 200px;
    height: auto;
    margin-right: 50px;
    border-radius: 0%;
    padding-top: 2rem;
  }
  
  .authorName {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 12px;
  }

  .partnerName {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 18px;
    margin-right: 2rem;
  }

  .partnerName:hover{
    background-color: #e95459;
    color: white;
  }

  .authorName:hover {
    background-color: #e95459;
    color: white;
  }
  
  .authorNameLarge {
    font-size: 15px;
  }
  
  .authorContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .authorHeader {
    display: flex;
    flex-direction: row; /* Changé de wrap à row */
    align-items: center;
    justify-content: flex-start; /* Aligner à gauche */
  }
  
  
  .authorImageLarge {
    width: 200px;
    margin-top: 3rem;
    height: auto;
    margin-right: 20px;
    border-radius: 20%;
  }
  
  .authorInfo {
  flex: 1; /* Ajustez selon vos besoins */
  }
  
  .authorBio {
    margin-top: 20px;
    font-style: italic;
    font-size: 18px;
    border-left: 8px solid #e95459;
    padding-left: 20px;  
  }

  .authorContacts {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }
  
  .authorContacts a {
    margin: 5px;
    flex: 0.2; /* Ajustez selon vos besoins */
  }

  .authorContacts img {
    width: 40px; /* ou la taille que vous préférez */
    height: auto;
    margin: 5px 0; /* Ajustez pour l'espacement */
  }

  .authorSectionTitle {
    font-size: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #173541;
    font-weight: 900;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    align-self: flex-start; /* Ajout pour aligner à gauche */
  }  

  .authorBox {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 50px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease-in-out;
  }

  .h1Gray {
    color: #173541	;
    font-size: 34px;
    font-style: italic;
  }
  
  .partnerBox {
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .partnerBox:hover {
    transform: scale(1.05);
  }
  
  .partnerLogo {
    width: 150px;
    object-fit: contain;
    margin-left: 0rem;
  }
  
  .contributorImage {
    max-width: 50px;
    height: auto;
  }

  .contributorsContainer {
    grid-area: contributors;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .contributor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  
  .contributor p {
    transition: background-color 0.1s;
    margin-left: 1em;
  }
  
  .contributor:hover p {
    background-color: #e95459;
    color: white;
    cursor: pointer;
  }
  
  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  