.scrollableContainer {
  max-height: calc(100vh - 200px); /* Adjust this value based on your layout */
  overflow-x: auto;
  overflow-y: auto;
}

  
  .table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .table th {
    position: sticky;
    top: 0;
    background:#fbfbfb ;
    border-bottom: 3px solid #ddd !important;
    font-size: 15px;
    top: -2px
  }
  
  .table th:first-child {
    left: 0;
    z-index: 1;
  }
  
  .table td, .table th {
    border: 1px solid #f1f1f1;
    overflow: hidden;
    white-space: nowrap;
  }

  .table th{
    padding: 10px;
  }

  .table td {
    padding: 3px;
  }
  
  .stickyColumn {
    position: sticky;
    left: 0;
    background: rgb(247, 247, 247);
    width: 450px;
    border-right: 3px solid #ddd !important;
    font-size: 14px;
  }

  .resizeHandle {
    cursor: ew-resize;
    width: 5px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }

  .resizeHandle:hover {
    border-right: 5px solid rgb(143, 203, 255);
  }
  
  .rowHeight {
    height: 50px;
    transition: background-color 0.3s ease; 
  }
  
  .rowHeight:hover {
    background-color: #e3f1f6; 
  }
  
  
  .access {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
}

.format {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 14px;
}

.tag {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.producer {
  display: inline-block;
  padding: 5px;
  border-radius: 1px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #efefef;
  font-size: 14px;
}

.tableLink {
    color: #ffffff;
    text-decoration: none;
    background-color: #173541;
    padding: 5px 5px; 
    border-radius: 5px;
    display: inline-block; 
    transition: background-color 0.2s ease; 
    font-size: 12px;
}
  
.tableLink:hover {
    background-color: #E95459; 
    text-decoration: none;
}  

.searchForm {
    display: flex;
    margin-bottom: 2rem;
    width: 50%;
  }
  
  .searchForm input {
    flex: 1;
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  .searchForm input:focus {
    border-color: #173541;
  }
  
  .searchForm button {
    background-color: #173541;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  .searchForm button:hover {
    background-color: #E95459;
  }

  .button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #219ebc;
    transition: color 0.2s ease;
  }
  
  .button:hover {
    color: #023047;
  }
  
  .buttonText {
    font-size: 0.8em;
  }
