@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Share+Tech+Mono&display=swap');

.docsMetadata {
    margin-top: 20px;
    font-size: 18px;
    color: #1c4b65;
    text-align: center;
  }
  
  .metadataRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .metadataItem {
    margin: 0;
    margin-right: 10px;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin-top: 20px;
    max-width: 600px;
  }
  
  .tagButton {
    background-color: #173541;
    color: #fff;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 5px;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;  
    transition: background-color 0.3s ease;
    border-style: none;
    font-size: 18px;
  }
  
  .tagButton:hover {
    background-color: #e95459;
    border-style: none;
  }

  .typeButton {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat, sans serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #1c4b65;
  }

  .typeButton:hover {
    color:#e95459 ;
    cursor: pointer;
  }
  