html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #000;
  text-decoration: inherit;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

li {
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15px;
  font-size: 16px;
  line-height: 1.8;
  color: rgb(82, 82, 82);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social li {
  margin-right: 10px;
}
