@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.appBar {
  background-color: #ffff; 
  color: #333;
  margin-right: 2rem;
  border-bottom: 1px;
  position: sticky;
  z-index: 1000;
  width: 100%;
}

.container{
  background: linear-gradient(180deg, #f9fafb, #f6fafc);
  border-top: 1px solid #f0f0f0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 0;
  z-index: 1000;
}

.link {
  text-decoration: none;
  color: #173541;
  font-size: 1rem;
  font-weight: 500;
  margin: 5px;
  padding: 0px 10px;
  border-radius: 3px;
}

.link:hover {
  font-weight: 500;
  color: #e95459;
}

.userContainer {
  position: relative;
  cursor: pointer;
}

.dropdownMenu {
  position: fixed;
  top: 70px;
  right: 0;
  background-color: white;
  display: none;
}

.dropdownOpen {
  display: block;
}

.dropdownItem {
  font-size: 0.8rem; 
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff; 
  background-color: #173541; 
  transition: background-color 0.2s, color 0.2s;
}

.dropdownItem:hover {
  background-color: #4ED9CC; 
  color: #ffffff;
}

.footer {
  padding: 1rem 0;
  background-color: #ffffff; 
  color: #333;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #173541;
  font-weight: 900;
  font-size: 30px;
}

.container {
  padding: 1rem 0;
}

.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.hamburgerButton {
  display: none; 
  font-size: 30px;
}

.navLinks {
  display: flex;
  gap: 1rem;
}

.titleContainer, .logo {
  display: inline-block;  
}

@media screen and (max-width: 600px) {
  .titleContainer, .logo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hamburgerButton {
    display: block;
    color: #173541;
    background-color: transparent;
    border-width: 0px;
  }

  .navLinks {
    display: none;
  }

  .navLinks.showMenu {
    display:inline-block;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
  }

  .layout {
    width: 100%;
    background-color: #f5f5f5; 
  }
}

.footerLink {
  color: #333;
  text-decoration: none;
  margin-right: 40px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-weight: 700;
  font-size: 13px;
}

.footerLink:hover {
  color: #ffffff;
  background-color: #e95459;
  font-weight: bold;
}
