.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: top 0.3s;
  box-shadow: 0 2px 4px rgba(130, 130, 130, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hidden {
  top: -100px;
}

.visible {
  top: 0;
}

.menunav a {
  margin: 0 10px;
  font-size: 16px;
  text-decoration: none;
  color: #173541;
}

.menunav a:hover {
  text-decoration: underline;
  color: #e95459;
}

.menuselect {
  display: none;
}

.logoContainer {
  width: 200px;
}

.logoDatactivist {
  width: 180px;
  height: auto;
}

.mainContent {
  margin-top: 3rem;
  background-color: #FFF1EB;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f3f8f9cb;
}

.footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footerIcons a {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footerLinks a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  text-align: center;
}

.footerLinks a:hover {
  text-decoration: underline;
  color: #e95459;
}

@media (max-width: 768px) {
  .menunav {
    display: none;
  }

  .menuselect {
    display: block;
    border-radius: 6px;
    max-width: 200px;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #e9e9e9;
  }

  .option {
    font-size: 14px;
  }

  .footerLinks {
    flex-direction: column;
  }
}
