.container {
  padding: 2rem;
}

.search {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search:focus {
  border-color: #0070f3;
  box-shadow: 0 0 0 1px #0070f3;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.link-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.link-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.link-card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.link-card p {
  margin-bottom: 0.5rem;
}

.topic {
  background-color: #fff1eb; /* Couleur de fond rose */
  border-radius: 5px;
  color: rgb(41, 41, 41);
  padding: 3px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  display: inline-block;
  font-family: monospace;
}
