@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.markdownContent {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 1em;
  background-color: #ffffff;
}

.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.markdownContent h1 {
  font-size: 2.2em;
  font-weight: 900;
}

.markdownContent h2 {
  font-size: 1.5em;
  font-weight: 900;
}

.markdownContent h3 {
  font-size: 1.2em;
}

.markdownContent h4 {
  font-size: 1em;
}

.markdownContent h1:hover .hash-link,
.markdownContent h2:hover .hash-link,
.markdownContent h3:hover .hash-link,
.markdownContent h4:hover .hash-link {
  visibility: visible;
}

.markdownContent a {
  color: #173541;
  text-decoration: none;
  border-bottom: 1px solid #173541;
}

.markdownContent li {
  text-decoration: none;
  list-style: square;
  margin-top: 0.5rem;
}

.markdownContent a:hover {
  background-color: #e95459;
  color: #fff;
  border-bottom: none;
}

.markdownContent blockquote {
  margin-top: 1rem;
  margin: 0;
  border-left: 8px solid #e95459;
  padding-left: 20px;
  font-size: 18px;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em;
}

.markdownContent code {
  background-color: #173541;
  padding: 2px 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .markdownContent h1 {
    font-size: 1.5em;
  }

  .markdownContent h2 {
    font-size: 1.2em;
  }

  .markdownContent h3 {
    font-size: 1em;
  }

  .markdownContent h4 {
    font-size: 0.9em;
  }
}


.markdownContent table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Open sans', sans-serif;
}

.markdownContent th,
.markdownContent td {
  border: 1px solid #e8e8e8;
  padding: 12px;
  text-align: left;
}

.markdownContent th {
  background-color: #173541	;
  color: white ;
  font-size: 18px;
}

.markdownContent tr:nth-child(even) {
  background-color: #ffffff;
}

