@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.markdownContent {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  padding: 1em;
  background-color: #ffffff;
}

.markdownContent h1,
.markdownContent h2,
.markdownContent h3,
.markdownContent h4 {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.markdownContent h1 {
  font-size: 2.2em;
  font-weight: 900;
}

.markdownContent h2 {
  font-size: 1.5em;
  font-weight: 900;
}

.markdownContent h3 {
  font-size: 1.2em;
}

.markdownContent h4 {
  font-size: 1em;
}

.markdownContent h1:hover .hash-link,
.markdownContent h2:hover .hash-link,
.markdownContent h3:hover .hash-link,
.markdownContent h4:hover .hash-link {
  visibility: visible;
}

.markdownContent a {
  color: #173541;
  text-decoration: none;
  border-bottom: 1px solid #173541;
}

.markdownContent li {
  text-decoration: none;
  list-style: square;
  margin-top: 0.5rem;
}

.markdownContent a:hover {
  background-color: #e95459;
  color: #fff;
  border-bottom: none;
}

.markdownContent blockquote {
  margin-top: 1rem;
  margin: 0;
  border-left: 8px solid #e95459;
  padding-left: 20px;
  font-size: 18px;
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 2em;
}

.responsiveIframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.responsiveIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.responsiveIframe:hover iframe {
  filter: blur(3px);
}

.fullscreen-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.responsiveIframe:hover .fullscreen-button {
  opacity: 10;
  align-content: center;
}

.markdownContent code {
  background-color: #173541;
  padding: 2px 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 600px) {
  .markdownContent h1 {
    font-size: 1.5em;
  }

  .markdownContent h2 {
    font-size: 1.2em;
  }

  .markdownContent h3 {
    font-size: 1em;
  }

  .markdownContent h4 {
    font-size: 0.9em;
  }
}
