/* styles/ReferenceCard.module.css */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 150px;
    padding: 16px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 16px;
    width: 100%;
}

.cardLink {
    width: 100%; /* Assurez-vous que le lien prend toute la largeur */
    text-decoration: none; /* Optionnel : supprime le soulignement des liens */
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.133);
}

.cardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .cardImage {
    max-height: 100%;
    max-width: 100%;
  }
  

.cardContent {
    padding: 16px;
    flex: 1.5;
}

.cardTitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #424242;
}

.researchcardTitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #424242;
}

.cardPartnerName {
    margin: 0;
    font-size: 14px;
    color: #666;
}
