/* styles/ReferenceCard.module.css */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 150px;
    padding: 16px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    /* Increase scale on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.133);
    /* Add shadow on hover */
}

.cardImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Exemple de hauteur fixe */
  }
  
  .cardImage {
    max-height: 100%;
    max-width: 100%;
  }
  

.cardContent {
    padding: 16px;
    flex: 1;
    /* Let the content take up the remaining space */
}

.cardTitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.cardPartnerName {
    margin: 0;
    font-size: 14px;
    color: #666;
}