@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.roadmapContainer {
    width: 80%;
    overflow-x: auto;
    background: linear-gradient(180deg, #f5f9fa, #ffffff);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
  }
  
  .roadmapContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .roadmapContainer td {
    text-align: left;
    padding: 8px;
    height: 70px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .roadmapContainer th {
    display: none; 
  }
  
  .authorFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 8px;
  }
  
  .authorImage {
    height: 40px; 
    width: 40px;
    object-fit: cover; 
    border-radius: 30px;
    margin-top: 10px;
  }
  
  .authorName {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #6b6b6b;
  }  
  
  .monthTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    background-color: #173541;
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    font-weight: 900;
  }
  
  .roadmapContainer td:nth-child(1) {
    width: 80%;
  }
  
  .roadmapContainer td:nth-child(2){
    width: 5%;
  }
  .roadmapContainer td:nth-child(3) {
    width: 15%;
  }
  
  @media (max-width: 767px) {
    .authorImage {
      display: none;
    }
  }
  
  .lastcontentContainer {
    width: 80%;
    overflow-x: auto;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
  }
  
  .lastcontentContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .lastcontentContainer td {
    text-align: left;
    padding: 8px;
    height: 70px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #dcdcdc;
  }
  
  .lastcontentContainer th {
    display: none; 
  }
  
  .lastcontentContainer td:nth-child(1) {
    width: 70%;
  }
  
  .lastcontentContainer td:nth-child(2){
    width: 20%;
  }
  .lastcontentContainer td:nth-child(3) {
    width: 15%;
  }

  .link{
    padding: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .link:hover {
    background-color: #E95459	;
    color: white;
    border-radius: 5px;
  }

  .sectiontitle{
    display: block;
    margin-top: 2rem;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    color: #173541;
    width: 80%;
    border-radius: 10px;
  }

  .linkedinBox {
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .linkedinBox:hover {
    transform: scale(1.02);  /* Increase the size to 110% */
  }
  
  .linkedinLogo {
    flex: 1;
    text-align: center;
  }
  
  .linkedinText {
    flex: 6;
    text-align: left;
  }