.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.search input {
  width: 400px;
  padding: 16px;
  font-size: 18px;
  border: 2px solid rgb(83, 83, 83);
  border-radius: 10px;
  margin-right: 8px;
}

.selected-file {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 20px;
  margin-bottom: 8px;
}

.selected-file span {
  margin-right: 8px;
  background-color: #e95459;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.selected-file button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0px;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selectedFile {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.selectedFile span {
  margin-right: 0px;
  background-color: #e95459;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.selectedFile button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #e95459;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
