@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.tagContainer {
  display: flex;
  align-items: center;
  margin-left: 5%;
}


.tag {
  background-color: #173541;
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-style: none;
  font-family: 'Share Tech Mono', monospace;  
}

.tag:hover {
  background-color: #e95459;
  border-style: none;
}
.toggleViewButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 6px;
}


.closeButton {
  align-items: bottom;
  justify-content: bottom;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.closeButton:hover {
  color: #e95459; /* Nouvelle couleur au survol */
}

.control-panel {
  display: block;
  align-items: left;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
 .customButton {
  display: block;
  padding: 10px 10px;
  color: white  !important;
  font-size: 18px;
  border-radius: 8px;
  border: none !important;
  background-color: #173541	;
  text-decoration: none !important; 
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: center;
}

 .customButton:hover {
  background: linear-gradient(45deg, #e95459 30%, #d55a7b 90%);
}

 .customButton:active {
  background: linear-gradient(45deg, #e95459 30%, #e67f9a 90%);
}
